<div class="container">
  <div class="header">
    <div class="search-container">
      <h1 color="primary">MY WEATHER</h1>
      <div class="search">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Enter city</mat-label>
          <input [(ngModel)]="cityName" matInput placeholder="Ex. Minsk" />
        </mat-form-field>
        <div class="search-btn">
          <button
            mat-raised-button
            color="primary"
            (click)="getWeather(cityName)"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="menu-container">
      <button (click)="showWeather()" [class.active]="isShowOneDayWeather">
        Today
      </button>
      <button [class.active]="isShowFiveDaysWeather" (click)="showWeather()">
        5-days Forecast
      </button>
    </div>
  </div>
  <div class="main-content">
    <app-one-day-weather
      *ngIf="isShowOneDayWeather"
      [oneDayWeather]="oneDayWeather"
      [fiveDaysWeather]="fiveDaysWeather"
    ></app-one-day-weather>
    <app-five-day-forecast
      *ngIf="isShowFiveDaysWeather"
      [fiveDaysWeather]="fiveDaysWeather"
    >
    </app-five-day-forecast>
  </div>
</div>
